.signup__image--container {
  background-image: url("https://res.cloudinary.com/drhxwooxk/image/upload/v1707809970/WhatsApp_Image_2024-02-13_at_12.36.30_PM_rnpcn3.jpg");
  height: 100vh;
  background-size: cover;
}

.signup__form--container,
.login__form--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.login__image--container {
  background-image: url("https://res.cloudinary.com/drhxwooxk/image/upload/v1707809969/WhatsApp_Image_2024-02-13_at_12.36.30_PM_1_qzg7m4.jpg");
  height: 100vh;
  background-size: cover;
}

@media screen and (max-width: 756px) {
  .login__image--container,
  .signup__image--container {
    display: none;
  }
}

/* home https://res.cloudinary.com/learn-code-10/image/upload/v1653947013/yqajnhqf7usk56zkwqi5.png */
/* https://res.cloudinary.com/learn-code-10/image/upload/v1654093280/xkia6f13xxlk5xvvb5ed.png sale */
